[user]
  name = Emilien Breton
  email = bricktech2000@gmail.com
  signkey = bricktech2000@gmail.com
[credential]
  helper = store
[advice]
  detachedHead = false
[commit]
  gpgsign = true
[safe]
  directory = *
[color "diff"]
  frag = white bold
  meta = 244 ul
[core]
  filemode = false
[init]
	defaultBranch = master
